@media all and (min-width: 480px) {
    .container {
      margin: 0 auto;
    }

    h3, p {
      color: #5E6472;
      margin: 0;
    }

    .card {
      align-content: center;
      margin-bottom: 30px;
      height: auto;
      border-color: #FFA69E;
      border-width: 2px;
    }

    #alert {
      color: #B8336A;
      font-weight: bold;
    }

    #info {
      color: #B8336A;
      font-weight: bold;
    }

    #success {
      color: #498467;
      font-weight: bold;
      border-color: #B8E2C8;
      min-height: 40vh;
    }

    .create-stellar-account-button, .create-stellar-account-button:hover {
      width: 35vw;
      margin: 20px 0;
      color: #5E6472;
      background-color: #B8F2E6;
      border-color: #B8F2E6;
    }
  }