.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  padding: 50px;
  width: 100%;
  background-color: #AED9E0;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #5E6472;
}

.navbar {
  padding: 50px;
  width: 100%;
  background-color: #AED9E0;
  max-height: 25vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #5E6472;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.App-body {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 60vw;
}

.nav-link {
  color: #B8F2E6;
}

.App-link {
  color: #FFA69E;
}
